<div class="container">
    <h1 class="text-danger text-center">Please choose available days</h1>
    <form class="row">
       
        <input  type="checkbox" class="form-check-input"   name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Saturday
        </label>
        <input  type="checkbox" class="form-check-input"  name="flexRadioDefault" id="flexRadioDefault1">

        <label class="form-check-label" for="flexRadioDefault2">
         sunday
        </label>
     
      <input  type="checkbox" class="form-check-input"  name="flexRadioDefault" id="flexRadioDefault1">

      <label class="form-check-label" for="flexRadioDefault2">
       monday
      </label>
      <input type="checkbox" class="form-check-input"   id="flexRadioDefault1">

      <label class="form-check-label" for="flexRadioDefault2">
       tuesday
      </label>
      <button class="btn btn-light">Submit</button>
     </form></div>

<!-- <form action="/action_page.php">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label><br><br>
    <input type="submit" value="Submit">
  </form> -->