<div class="back">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                       <h1> Home page</h1>
                        <!-- <img src="{{global.imgUrl}}{{item.img}}" alt=""> -->
                        <!-- {{global.allu()}} -->
                        <!-- <div class="col-12 col-md-4" *ngFor="let doc of docs">
                            <div >doc.name</div> -->
                      <!-- <div>{{docs[0].name}}</div> -->
                        <!-- /images/depositphotos_10643314-stock-photo-stethoscope-on-white-background-close.jpg -->
                    </div>
                </div>
                <!-- <img src="assets/images/clin.jpg" alt="med"> -->

            </div>
        </div>
    </div>
</div></div>